# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
gradlew*
.idea
gradle/
app/src/main/res/drawable/ic_weight.xml
app/src/main/res/drawable/ic_weight_outline.xml
app/src/main/res/drawable/Archive/ic_bg.svg
app/src/main/res/drawable/Archive/ic_bg.xml
app/src/main/res/drawable/Archive/ic_bg_outline.xml
app/src/main/res/drawable/Archive/ic_bp.svg
app/src/main/res/drawable/Archive/ic_bp.xml
app/src/main/res/drawable/Archive/ic_bp_outline.svg
app/src/main/res/drawable/Archive/ic_bp_outline.xml
app/src/main/res/drawable/Archive/ic_home.xml
app/src/main/res/drawable/Archive/ic_home_Old.svg
app/src/main/res/drawable/Archive/ic_home_outline.xml
app/src/main/res/drawable/Archive/ic_hr.svg
app/src/main/res/drawable/Archive/ic_hr.xml
app/src/main/res/drawable/Archive/ic_hr_outline.svg
app/src/main/res/drawable/Archive/ic_hr_outline.xml
app/src/main/res/drawable/Archive/ic_steps.svg
